.edit {
    display: none !important;
    visibility: hidden !important;
}

.editing .edit {
    display: block !important;
    visibility: visible !important;
}

.editing .input {
    display: none;
    visibility: hidden;
}

table .trash {
    width: 15px;
    vertical-align: middle;
}