<div class="control-group">
    <label class="control-label" for="date">Date</label>
    <div class="controls">
        <input type="text" name="date" id="date" placeholder="Date" value="{{date}}" />
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="time">Time</label>
    <div class="controls">
        <input type="text" name="time" id="time" placeholder="Time" value="{{time}}" />
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="level">Level</label>
    <div class="controls">
        <input type="text" name="level" id="level" placeholder="Level" value="{{level}}" />
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="food">Food</label>
    <div class="controls">
        <input type="text" name="food" id="food" placeholder="Food" value="{{food}}" />
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn">Save</button>
    </div>
</div>